.chatContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .chatbotContainer{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        background-color: rgb(240, 243, 245);
        border-radius: 20px;
        height: 100%;
        width: 100%;

        overflow-y: scroll;

        margin-bottom: 10px;
        padding: 20px;

        color: rgb(39, 74, 163);
        font-size: 18px;
        font-weight: 900;

        li{
            padding-top: 15px;

        }
    }

    .choiceContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 70px;


        .chatbuttonBox{
            border: none;
            padding: 5px;
            height: 30px;
            border-radius: 10px;
            color: white;
            background-color: rgb(117, 117, 244);
        
        }
    }

    
}

.title{
    position: absolute;
    background-image: url("/a78d99075f1e2bb530d34d3ffdba0c9f.gif");
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 152px;
    top: 100px;
    left: 36%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}